{% extends 'front.html' %}
{% block content %}

		<div class="contact">
 			<h2>Contact Us</h2>
 			<ul class="shift">
 				<a href="https://www.linkedin.com/in/rohit-kumar-rai"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a><br>
 				<a href="https://rohitkumarrairkr@gmail.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i> G-mail</a><br>
 				<a href="https://www.facebook.com/rohitkumarrairkr"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a><br>
 				<a href="https://www.instagram.com/rohit_rkr_/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
 			</ul>

 		</div>
 
 		
{% endblock %}
