<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.jpg')}}" type="image/gif" sizes="16x16">
    <title>MOVIE RECOMMENDER</title>
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='UPDATED STYLE.css')}}">
</head>
<body>

    <header>
<div class="container">
    <nav>
        <h1 class="brand" id="rohit"><a href="{{url_for('index')}}">MOVIE RECOMMENDER</a></h1>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('about_us')}}" target="_blank">About us</a></li>
            <li><a href="{{url_for('contact')}}" target="_blank">Contact</a></li>
        </ul>
 </nav>

</div>
</header>
<div>
        {% block content %}
        {% endblock %}

</div>
        

 
 
</body>
</html>